<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Travel app</title>
</head>
<body>
<section>
    <div class="head_heading">
            <h1>Holiday countdown and weather Predictor </h1>
        <div class="head_description">
            <p>Wondering what the weather is likely to be for your holiday? Fill in the details here and submit to find out!</p>
        </div>
    </div>
</section>
<section>
        <div class="holiday_input">
            <form>
                <label for="destination">Holiday destination city:</label>
                <input type="text" id="destination" name="destination" placeholder="Destination" required />
                <label for="startDate">First day of Holiday:</label>
                <input type="date" id="startDate" name="startDate" placeholder="dd.mm.yyyy" required />
                <label for="endDate">Last Day of Holiday:</label>
                <input type="date" id="endDate" name="endDate" placeholder="dd.mm.yyyy" required />
                <input type="submit" id="submit" value="Submit" />
            </form>
        <div id="holiday_response">
                    <img id="response_image" src='./src/images/travelApp2.png' />
                    <a href="https://pixabay.com" target="_blank" rel="external nofollow" class="image_copyright"
                    ></a
                    >
       </div>
       <div id="weather_response">
           <h2>Predicted Weather Forecast (based on historic averages):</h2>
           <span>Average Temperature:&nbsp;</span><span id="avg_temp"></span><br />
           <span>Maximum Temperature:&nbsp;</span><span id="max_temp"></span><br />
           <span>Minimum Temperature:&nbsp;</span><span id="min_temp"></span><br />
       </div>
       <div id="duration_response">
           <h2>Trip Duration:</h2>
           <span id="hol_duration">Days</span>
           <h2>Number of days until your holiday (and counting):</h2>
           <span id="hol_countDown">Days</span>
       </div>
       <div id="facts_response">
           <h2>Interesting facts about the country you are visiting</h2>
           <span>Currency: </span><span id="fact_currencies"></span><br />
           <span>Language Spoken: </span><span id="fact_languages"></span><br />
           <span>Population:&nbsp;</span><span id="fact_population"></span><br />
           <span>Subregion:&nbsp;</span><span id="fact_subregion"></span><br />
       </div>
</div>
</section>
<footer><a href="http://www.geonames.org/"><button class="button">Credit to GeoNames</button></a>
    <a href="https://www.weatherbit.io/"><button class="button">Credit to WeatherBit</button></a>
    <a href="https://pixabay.com/"><button class="button">Credit to Pixabay</button></a>
    <a href="https://restcountries.com/"><button class="button">Credit to RestCountries</button></a>
</footer>

</body>
</html>