<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Travel app</title>
</head>
<body>
<main class="top_cst">
    <div class="travel_planner">
        <div class="travel_planner_text">
            <h1>Holiday countdown and weather Predictor </h1>
            <p>Wondering what the weather is likely to be for your holiday? Fill in the details here and submit!</p>
        </div>
        <div class="travel_planner_bottom">
            <form>
                <label for="destination">Destination:</label>
                <input type="text" id="destination" name="destination" placeholder="Destination" required />
                <label for="startDate">Start date:</label>
                <input type="date" id="startDate" name="startDate" placeholder="dd.mm.yyyy" required />
                <label for="endDate">End date:</label>
                <input type="date" id="endDate" name="endDate" placeholder="dd.mm.yyyy" required />
                <input type="submit" id="submitFormData" value="Submit" />
            </form>
            <div class="result_section">
                <div class="result_image">
                    <img id="result_image" src='/src/images/travelApp2.png' />
                    <a href="https://pixabay.com" target="_blank" rel="external nofollow" class="image_copyright"
                    >Credit to Pixabay for photos</a
                    >
                </div>
                <div class="result_weather">
                    <div class="result_weather_temp">
                        <p id="error_message">Something is not right. Please check your information and resubmit.</p>
                        <p>Predicted Weather Forecast (based on historic weather):</p>
                        <span>Average Temperature:&nbsp;</span><span id="avg_temp"></span><br />
                        <span>Maximum Temperature:&nbsp;</span><span id="max_temp"></span><br />
                        <span>Minimum Temperature:&nbsp;</span><span id="min_temp"></span><br />
                        <br />
                        <p>Trip Duration:</p>
                        <span id="trip_duration">Days</span>
                        <p>Countdown to trip:</p>
                        <span id="count_down">Days</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>