.head {
  justify-content: center;
}
  h2 {
    font-size: 26px;
    font-weight: bold;
  }
  h1 {
    font-size: 36px;
  }
  p {
    font-size: 14px;
  }
box2 {
  display: flex;
  justify-content: space-evenly;
}
  button {
    display: inline-block;
    padding: 5px 5px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: grey;
    border: none;
    border-radius: 10px;
    /*box-shadow: 0 9px #999;*/
  }

  button:hover {
    background-color: darkolivegreen;
  }
  button:active {
    background-color: darkblue;
    transform: translateY(4px);
  }
  footer {
    display: flex;
    margin: 30px;
    border: 1px solid #545454;
    border-radius: 3px;
    justify-content: space-evenly;
    line-height: 0%;
    background-color: grey;
    //padding: 10px;
  }

  input {
    padding: 5px 5px;
    width: 25%;
    line-height: 16px;
    margin: 10px 0;
    justify-content: center;
  }
  // header
  .head {
    margin: 10px;
    display: grid;
    justify-content: space-evenly;
    //padding: 5px;
    //background-color: whitesmoke;
    font-size: 30px;
    font-family: "Comic Sans MS";
  }
.container {
  display: grid;
  //height: 90vh;
  margin: 30px;
  //  /*border: 2px solid black;*/
  //  grid-template-columns: 850px;
  //  grid-template-rows: 1fr 1fr 1fr 1fr;
  //  grid-template-columns: 1fr;
  grid-template-areas:
    "days pic pic pic"
    "temp pic pic pic";
}
#response_image {
  grid-area: pic;
  display: grid;
  justify-content: right;
}
#box_days {
  grid-area: days;
  display: flex;
  font-size: 16px;
  justify-content: left;
  flex-direction: column;
  grid-template-areas:
  "hd hd"
  "cd dd"
}
#head_days {
  grid-area: hd;
  display: flex;
  justify-content: space-evenly;
}
#hol_countDown {
  grid-area: cd;
  display: flex;
  justify-content: space-evenly;
}

#hol_duration {
  grid-area: dd;
  display: flex;
  justify-content: space-evenly;
}

#box_weather {
  grid-area: temp;
  display: flex;
  font-size: 16px;
  justify-content: left;
  flex-direction: column;
  grid-template-areas:
  "hd hd hd"
  "at mat mit";
}
#head_weather {
  grid-area: hd;
  display: flex;
  justify-content: space-evenly;
}
#avg_temp {
  grid-area: at;
  display: flex;
  justify-content: left;
}

#max_temp{
  grid-area:mat;
  display: flex;
  justify-content: left;
}
#min_temp{
  grid-area:mit;
  display: flex;
  justify-content: left;
}